<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="/">
                <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img"
                     alt="Argon Design - Jinja Template Logo.">
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Profil</span>
                        </a>
                    </li>
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Instagram</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link {% if 'instagram_likes' in segment %} active {% endif %}" href="/instagram/likes.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Likes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'instagram_followers' in segment %} active {% endif %}" href="/instagram/followers.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Followers</span>
                        </a>
                    </li>
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Youtube</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Like</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Subscribe</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Watch</span>
                        </a>
                    </li>
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Easy Mode</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Automatic Mix</span>
                        </a>
                    </li>
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Credits / Money</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Use Credits</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Payout</span>
                        </a>
                    </li>
                    <h6 class="navbar-heading p-0 text-muted">
                        <span class="docs-normal">Rank</span>
                    </h6>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">World</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Choose Country</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="my-3">
                    <li class="nav-item">
                        <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
                            <i class="ni ni-tv-2 text-primary"></i>
                            <span class="nav-link-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html">
                            <i class="ni ni-planet text-orange"></i>
                            <span class="nav-link-text">Icons</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html">
                            <i class="ni ni-pin-3 text-primary"></i>
                            <span class="nav-link-text">Google</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
                            <i class="ni ni-single-02 text-yellow"></i>
                            <span class="nav-link-text">Profile</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
                            <i class="ni ni-bullet-list-67 text-default"></i>
                            <span class="nav-link-text">Tables</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login.html">
                            <i class="ni ni-key-25 text-info"></i>
                            <span class="nav-link-text">Login (template)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register.html">
                            <i class="ni ni-circle-08 text-pink"></i>
                            <span class="nav-link-text">Register (template)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="ni ni-user-run text-red"></i>
                            <span class="nav-link-text">Logout</span>
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="my-3">
                <!-- Heading -->
                <h6 class="navbar-heading p-0 text-muted">
                    <span class="docs-normal">Resources</span>
                </h6>
                <!-- Navigation -->
                <ul class="navbar-nav mb-md-3">

                    <li class="nav-item">
                        <a class="nav-link"
                           target="_blank"
                           href="https://appseed.us/admin-dashboards/django-dashboard-argon">
                            <i class="ni ni-archive-2"></i>
                            <span class="nav-link-text">Product Page</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                           target="_blank"
                           href="https://appseed.us/admin-dashboards/django-dashboard-argon-pro">
                            <i class="ni ni-spaceship text-red"></i>
                            <span class="nav-link-text text-red">PRO Version</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active active-pro"
                           target="_blank"
                           href="http://appseed.us">
                            <i class="ni ni-send text-dark"></i>
                            <span class="nav-link-text">AppSeed</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>