{% extends 'layouts/base.html' %}

{% block title %} Likes {% endblock title %}

{% block content %}

    <div class="header pb-6 d-flex align-items-center">
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col-xl-12">
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col">
                            <br>
                            Kacheln von Instagram Fotos (mit Rahmen)
                            {{ picture.key }}
                            <br>
                            Foto und Like Button (Like Button entweder auf Insta-Seite verweisen oder direkt hier liken - mit Nachfrage?)
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
